<h1>Actor <%= @actor.id%> details</h1>

<a href="/actors">Go Back</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @actor.name%>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @actor.dob%>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @actor.bio%>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="http://robohash.org/<%= @actor.id%>">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@actor.created_at)%>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@actor.created_at)%>
  </dd>
</dl>

<hr>

<h1>Filmography</h1>

<table border="1">
<tr>
 <td>Title</td>
 <td>Year</td>
 <td>Director</td>
 <td>Character</td>
 <td></td>
</tr>
<tr><% @characters.each do |role|%>
 <% movie = Movie.all.where( :id => role.movie_id).at(0)%>
 <td><%= movie.title%></td>
 <td><%= movie.year%></td>
 <td><%= Director.all.where( :id => movie.director_id).at(0).name%></td>
 <td><%= role.name%></td>
 <td><a href="/movies/<%= movie.id%>">Show Details</td>
 </tr>
 <% end%>
</table>


